# The loopback network interface
auto lo
iface lo inet loopback

auto INTERNAL_IF
iface INTERNAL_IF inet static
	address 192.168.2.1
	netmask 255.255.255.0
	wireless-mode managed
	wireless-channel 11

auto EXTERNAL_IF
iface EXTERNAL_IF inet static
	address 192.168.1.2
	netmask 255.255.255.0
	gateway 192.168.1.1
